<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bazaRad.Properties.Settings.pi2013FastOrderdbConnectionString"
            connectionString="Data Source=161.53.120.217\VARAZDIN,1433;Initial Catalog=pi2013FastOrderdb;Persist Security Info=True;User ID=pi2013FastOrder"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>