<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FOR_Application.Properties.Settings.pi2013FastOrderdbConnectionString"
            connectionString="Data Source=161.53.120.217\VARAZDIN,1433;Initial Catalog=pi2013FastOrderdb;Persist Security Info=True;User ID=pi2013FastOrder;Password=pi2013FastOrder"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>